#end.end
  .end__title.title
    .title__caption
      h1 Thanks for reading!
      h3 Your likes and shares make me happy
      .share
        a(href='https://www.facebook.com/sharer/sharer.php?u=https://arnauddri.github.io/hn',
          onclick='javascript:window.open(this.href, \'\', \'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600\');return false;',
          target='_blank',
          title='Share on Facebook')
          i.fa.fa-3x.fa-facebook
        a(href='http://twitter.com/share?url=https://arnauddri.github.io/hn&text=Hacker News: Crunching the Numbers via @arnauddri - ', target='_blank')
          i.fa.fa-3x.fa-twitter
        a(href='http://reddit.com/submit?url=https://arnauddri.github.io/hn&title=Hacker News: Crunching the Numbers', target='_blank')
          i.fa.fa-3x.fa-reddit
        a(href='')
          h3 Y
  .page__controllers--previous
    .previous
      a
        span.glyphicon.glyphicon-chevron-left
